@using CuaHangSach.Models

<section class="recent-book-sec">
    <div class="container">
        <div class="title">
            <h2>Sách được xem nhiều nhất</h2>
            <hr>
        </div>
        <div class="row">
            @foreach (BookAndImage bookAndImage in Model)
            {
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="item">
                        @{
                            string source = null;
                            if (bookAndImage.images.Count != 0)
                            {
                                source = bookAndImage.images.FirstOrDefault().source;
                            }
                            else
                            {
                                source = "no-img-1.jpg";
                            }
                        }
                        <img src="~/Photos/@source" alt="img">
                        <h3><a href="@Url.Action("Details", "Book", new { id = bookAndImage.book.ID, url = bookAndImage.book.url.Trim()})">@bookAndImage.book.name</a></h3>
                        <h6><span class="price">@bookAndImage.book.price.ToString("#, ##0 VNĐ")</span> / <a href="@Url.Action("Details", "Book", new { id = bookAndImage.book.ID, url = bookAndImage.book.url.Trim()})">Mua ngay</a></h6>
                    </div>
                </div>
            }
        </div>
        <div class="btn-sec">
            <a href="@Url.Action("TopBooksByView", "Book")" class="btn gray-btn">Xem thêm</a>
        </div>
    </div>
</section>